<body>
    <div class="preloader text-white fs-6 text-uppercase overflow-hidden"></div>
  
    <nav class="navbar navbar-expand-lg bg-light text-uppercase fs-6 p-3 border-bottom align-items-center">
      <div class="container-fluid">
        <div class="row justify-content-between align-items-center w-100">
  
          <div class="col-auto">
            <a class="navbar-brand text-white" href="https://www.lindasmulheres.site">
              <!-- <h4 style="color: black; margin: 0; padding: 0;">LM</h4> -->
            </a>
          </div>
  
          <div class="col-auto">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
  
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 gap-1 gap-md-5 pe-3">
                  <li class="nav-item dropdown">
                    <a class="nav-link active" href="#" id="dropdownHome" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Home</a>
                    <!-- <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownHome">
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Home Layout 1</a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Home Layout 2 </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Home Layout 3 </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Home Layout 4 </a>
                    </li>
                  </ul> -->
                  <!-- </li> -->
                  <!-- <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Shop</a> -->
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="dropdownShop" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Shop</a> -->
                    <!-- <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Sidebar </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Three Column </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Three Column Wide </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Four Column </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Four Column Wide </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Six Column </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Shop Six Column Wide </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Single Product </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Single Product V2 </a>
                    </li>
                  </ul> -->
                  <!-- </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="dropdownBlog" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Blog</a> -->
                    <!-- <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownBlog">
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Blog Classic </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Blog Grid with Sidebar </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Blog Grid Four Column </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Blog No Sidebar </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Blog Right Sidebar </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Single Post </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Single Post No Sidebar </a>
                    </li>
                  </ul> -->
                  <!-- </li> -->
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="dropdownPages" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Pages</a> -->
                    <!-- <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownPages">
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">About </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Cart </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Checkout </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Coming Soon </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Contact </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Error Page </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">FAQs </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">My Account </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Order Tracking </a>
                    </li>
                    <li>
                      <a href="index.html" class="dropdown-item item-anchor">Wishlist </a>
                    </li>
                  </ul> -->
                  <!-- </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
  
          <!-- <div class="col-3 col-lg-auto">
          <ul class="list-unstyled d-flex m-0">
            <li class="d-none d-lg-block">
              <a href="index.html" class="text-uppercase mx-3">Wishlist <span class="wishlist-count">(0)</span>
              </a>
            </li>
            <li class="d-none d-lg-block">
              <a href="index.html" class="text-uppercase mx-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                aria-controls="offcanvasCart">Cart <span class="cart-count">(0)</span>
              </a>
            </li>
            <li class="d-lg-none">
              <a href="#" class="mx-2">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#heart"></use>
                </svg>
              </a>
            </li>
            <li class="d-lg-none">
              <a href="#" class="mx-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
                aria-controls="offcanvasCart">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#cart"></use>
                </svg>
              </a>
            </li>
            <li class="search-box" class="mx-2">
              <a href="#search" class="search-button">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#search"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div> -->
  
        </div>
  
      </div>
    </nav>
  
    <section id="billboard" class="bg-light py-5">
      <div class="container">
        <div class="row justify-content-center">
          <h1 class="section-title text-center mt-4" data-aos="fade-up">Lindas Mulheres</h1>
          <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
            <p>Bem-vindo ao nosso mundo de beleza e elegância!
              Explore nossa seleção de mulheres encantadoras e sofisticadas. Cada foto celebra o charme e a graça do
              feminino.
              Admire a beleza em sua forma mais pura.</p>
          </div>
        </div>
        <div class="row">
          <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
            <div class="swiper-wrapper d-flex border-animation-left">
              @for (slide of slideArray; track $index) {
              <div class="swiper-slide">
                <div class="banner-item image-zoom-effect">
                  <div class="image-holder">
                    <a href="#">
                      <img src="../../../assets/data/fotos-slide/{{slide}}.png" alt="product" class="img-fluid">
                    </a>
                  </div>
                </div>
              </div>
            }
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="features py-5">
      <div class="container">
        <div class="row">
          <!-- <h4 style="text-align: center;">banner</h4> -->
          <!-- <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
          <div class="py-5">
            <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#calendar"></use>
            </svg>
            <h4 class="element-title text-capitalize my-3">Book An Appointment</h4>
            <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
          <div class="py-5">
            <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#shopping-bag"></use>
            </svg>
            <h4 class="element-title text-capitalize my-3">Pick up in store</h4>
            <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
          <div class="py-5">
            <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#gift"></use>
            </svg>
            <h4 class="element-title text-capitalize my-3">Special packaging</h4>
            <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
          <div class="py-5">
            <svg width="38" height="38" viewBox="0 0 24 24">
              <use xlink:href="#arrow-cycle"></use>
            </svg>
            <h4 class="element-title text-capitalize my-3">free global returns</h4>
            <p>At imperdiet dui accumsan sit amet nulla risus est ultricies quis.</p>
          </div>
        </div>-->
      </div>
        </div>
    </section>
  
    <section class="categories overflow-hidden">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
          <h4 class="text-uppercase">Veja vídeos das mais lindas</h4>
          <a href="#" class="btn-link"></a>
        </div>
        <div class="open-up" data-aos="zoom-out">
          <div class="row">
            @for (video of videosArray; track $index) {
            <div class="col-md-4">
              <div class="cat-item image-zoom-effect">
                <div class="image-holder">
                  <a href="#">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/{{video}}.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="category-content">
                  <div class="product-button">
                    <a href="index.html" class="btn btn-common text-uppercase"></a>
                  </div>
                </div>
              </div>
            </div>
            }
            <!-- <div class="col-md-4">
              <div class="cat-item image-zoom-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/02.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="category-content">
                  <div class="product-button">
                    <a href="index.html" class="btn btn-common text-uppercase"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="cat-item image-zoom-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/03.mp4" type="video/mp4">
                    </video>
                  </a>
                </div>
                <div class="category-content">
                  <div class="product-button">
                    <a href="index.html" class="btn btn-common text-uppercase"></a>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <section class="categories overflow-hidden">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
          <h4 class="text-uppercase">Mulheres maravilhosas</h4>
          <a href="#" class="btn-link"></a>
        </div>
        <div class="open-up" data-aos="zoom-out">
          <div class="row">
            @for (photo of photosSec2Array; track $index) {
            <div class="col-md-4">
              <div class="cat-item image-zoom-effect">
                <div class="image-holder">
                  <a href="#">
                    <img src="../../../assets/data/fotos-sec2/{{photo}}.jpg" alt="categories" class="product-image img-fluid">
                  </a>
                </div>
                <div class="category-content">
                  <div class="product-button">
                    <a href="index.html" class="btn btn-common text-uppercase"></a>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </section>

    <section class="categories overflow-hidden">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
          <h4 class="text-uppercase">Mulheres espetaculares</h4>
          <a href="#" class="btn-link"></a>
        </div>
        <div class="open-up" data-aos="zoom-out">
          <div class="row">
            @for (gif of gifsArray; track $index) {
            <div class="col-md-4">
              <div class="cat-item image-zoom-effect">
                <div class="image-holder">
                  <a href="#">
                    <img src="../../../assets/data/gifs/{{gif}}.gif" alt="categories" class="product-image img-fluid">
                  </a>
                </div>
                <div class="category-content">
                  <div class="product-button">
                    <a href="index.html" class="btn btn-common text-uppercase"></a>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </section>
  
    <!-- <section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
          <h4 class="text-uppercase">Mulheres maravilhosas</h4>
          <a href="index.html" class="btn-link">View All Products</a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
          <div class="swiper-wrapper d-flex">
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder position-relative">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-1.jpg" alt="categories"
                      class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="element-title text-uppercase fs-5 mt-3">
                      <a href="index.html">Dark florish onepiece</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder position-relative">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-2.jpg" alt="categories"
                      class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Baggy Shirt</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$55.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder position-relative">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-3.jpg" alt="categories"
                      class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Cotton off-white shirt</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$65.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder position-relative">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-4.jpg" alt="categories"
                      class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Crop sweater</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$50.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder position-relative">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-10.jpg" alt="categories"
                      class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Crop sweater</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>$70.00</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-left"></use>
          </svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-right"></use>
          </svg></div>
      </div>
    </section> -->
  
    <!-- <section class="collection bg-light position-relative py-5">
      <div class="container">
        <div class="row">
          <div class="title-xlarge text-uppercase txt-fx domino">Collection</div>
          <div class="collection-item d-flex flex-wrap my-5">
            <div class="col-md-6 column-container">
              <div class="image-holder">
                <img src="../../../assets/site-images-src/product-item-2.jpg" alt="collection" class="product-image img-fluid">
              </div>
            </div>
            <div class="col-md-6 column-container bg-white">
              <div class="collection-content p-5 m-0 m-md-5">
                <h3 class="element-title text-uppercase">Classic winter collection</h3>
                <p>Dignissim lacus, turpis ut suspendisse vel tellus. Turpis purus, gravida orci, fringilla a. Ac sed eu
                  fringilla odio mi. Consequat pharetra at magna imperdiet cursus ac faucibus sit libero. Ultricies quam
                  nunc, lorem sit lorem urna, pretium aliquam ut. In vel, quis donec dolor id in. Pulvinar commodo mollis
                  diam sed facilisis at cursus imperdiet cursus ac faucibus sit faucibus sit libero.</p>
                <a href="#" class="btn btn-dark text-uppercase mt-3">Shop Collection</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  
    <!-- <section id="best-sellers" class="best-sellers product-carousel py-5 position-relative overflow-hidden">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
          <h4 class="text-uppercase">Best Selling Items</h4>
          <a href="index.html" class="btn-link">View All Products</a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
          <div class="swiper-wrapper d-flex">
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-4.jpg" alt="categories" class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Dark florish onepiece</a>
                    </h5>
                    <a href="index.html" class="text-decoration-none" data-after="Add to cart"><span>$95.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-3.jpg" alt="product" class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Baggy Shirt</a>
                    </h5>
                    <a href="index.html" class="text-decoration-none" data-after="Add to cart"><span>$55.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-5.jpg" alt="categories" class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Cotton off-white shirt</a>
                    </h5>
                    <a href="index.html" class="text-decoration-none" data-after="Add to cart"><span>$65.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-6.jpg" alt="categories" class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Handmade crop sweater</a>
                    </h5>
                    <a href="index.html" class="text-decoration-none" data-after="Add to cart"><span>$50.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-9.jpg" alt="categories" class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Dark florish onepiece</a>
                    </h5>
                    <a href="index.html" class="text-decoration-none" data-after="Add to cart"><span>$70.00</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="index.html">
                    <img src="../../../assets/site-images-src/product-item-10.jpg" alt="categories" class="product-image img-fluid">
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Cotton off-white shirt</a>
                    </h5>
                    <a href="index.html" class="text-decoration-none" data-after="Add to cart"><span>$70.00</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-left"></use>
          </svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-right"></use>
          </svg></div>
      </div>
    </section> -->
  
    <!-- <section class="video py-5 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="video-content open-up" data-aos="zoom-out">
            <div class="video-bg">
              <img src="../../../assets/site-images-src/video-image.jpg" alt="video" class="video-image img-fluid">
            </div>
            <div class="video-player">
              <a class="youtube" href="https://www.youtube.com/embed/pjtsGzQjFM4">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#play"></use>
                </svg>
                <img src="../../../assets/site-images-src/text-pattern.png" alt="pattern" class="text-rotate">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  
    <!-- <section class="testimonials py-5 bg-light">
    <div class="section-header text-center mt-5">
      <h3 class="section-title">WE LOVE GOOD COMPLIMENT</h3>
    </div>
    <div class="swiper testimonial-swiper overflow-hidden my-5">
      <div class="swiper-wrapper d-flex">
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“More than expected crazy soft, flexible and best fitted white simple denim shirt.”</p>
              <div class="review-title text-uppercase">casual way</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Best fitted white denim shirt more than expected crazy soft, flexible</p>
              <div class="review-title text-uppercase">uptop</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Best fitted white denim shirt more white denim than expected flexible crazy soft.”</p>
              <div class="review-title text-uppercase">Denim craze</div>
            </blockquote>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item text-center">
            <blockquote>
              <p>“Best fitted white denim shirt more than expected crazy soft, flexible</p>
              <div class="review-title text-uppercase">uptop</div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
  </section> -->
  
    <!-- <section id="related-products" class="related-products product-carousel py-5 position-relative overflow-hidden">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
          <h4 class="text-uppercase">Veja vídeos</h4>
          <a href="index.html" class="btn-link"></a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
          <div class="swiper-wrapper d-flex">
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="#">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/01.mp4" type="video/mp4">
                    </video>
                  </a>
                  <a href="index.html" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="#">Linda!</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="#">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/02.mp4" type="video/mp4">
                    </video>
                  </a>
                  <a href="#" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="#">Perfeita</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="#">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/03.mp4" type="video/mp4">
                    </video>
                  </a>
                  <a href="#" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="#">Cosplay</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="#">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/04.mp4" type="video/mp4">
                    </video>
                  </a>
                  <a href="#" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="#">Na torcida</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span></span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item image-zoom-effect link-effect">
                <div class="image-holder">
                  <a href="#">
                    <video width="100%" height="100%" controls>
                      <source src="../../../assets/data/videos/05.mp4" type="video/mp4">
                    </video>
                  </a>
                  <a href="#" class="btn-icon btn-wishlist">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#heart"></use>
                    </svg>
                  </a>
                  <div class="product-content">
                    <h5 class="text-uppercase fs-5 mt-3">
                      <a href="index.html">Incrível</a>
                    </h5>
                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-left"></use>
          </svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-right"></use>
          </svg></div>
      </div>
    </section> -->
  
    <!-- <section class="blog py-5">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
        <h4 class="text-uppercase">Read Blog Posts</h4>
        <a href="index.html" class="btn-link">View All</a>
      </div>
      <div class="row">
        <div class="col-md-4">
          <article class="post-item">
            <div class="post-image">
              <a href="index.html">
                <img src="site-images-src/post-image1.jpg" alt="image" class="post-grid-image img-fluid">
              </a>
            </div>
            <div class="post-content d-flex flex-wrap gap-2 my-3">
              <div class="post-meta text-uppercase fs-6 text-secondary">
                <span class="post-category">Fashion /</span>
                <span class="meta-day"> jul 11, 2022</span>
              </div>
              <h5 class="post-title text-uppercase">
                <a href="index.html">How to look outstanding in pastel</a>
              </h5>
              <p>Dignissim lacus,turpis ut suspendisse vel tellus.Turpis purus,gravida orci,fringilla...</p>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="post-item">
            <div class="post-image">
              <a href="index.html">
                <img src="site-images-src/post-image2.jpg" alt="image" class="post-grid-image img-fluid">
              </a>
            </div>
            <div class="post-content d-flex flex-wrap gap-2 my-3">
              <div class="post-meta text-uppercase fs-6 text-secondary">
                <span class="post-category">Fashion /</span>
                <span class="meta-day"> jul 11, 2022</span>
              </div>
              <h5 class="post-title text-uppercase">
                <a href="index.html">Top 10 fashion trend for summer</a>
              </h5>
              <p>Turpis purus, gravida orci, fringilla dignissim lacus, turpis ut suspendisse vel tellus...</p>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="post-item">
            <div class="post-image">
              <a href="index.html">
                <img src="site-images-src/post-image3.jpg" alt="image" class="post-grid-image img-fluid">
              </a>
            </div>
            <div class="post-content d-flex flex-wrap gap-2 my-3">
              <div class="post-meta text-uppercase fs-6 text-secondary">
                <span class="post-category">Fashion /</span>
                <span class="meta-day"> jul 11, 2022</span>
              </div>
              <h5 class="post-title text-uppercase">
                <a href="index.html">Crazy fashion with unique moment</a>
              </h5>
              <p>Turpis purus, gravida orci, fringilla dignissim lacus, turpis ut suspendisse vel tellus...</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section> -->
  
    <!-- <section class="logo-bar py-5 my-5">
    <div class="container">
      <div class="row">
        <div class="logo-content d-flex flex-wrap justify-content-between">
          <img src="site-images-src/logo1.png" alt="logo" class="logo-image img-fluid">
          <img src="site-images-src/logo2.png" alt="logo" class="logo-image img-fluid">
          <img src="site-images-src/logo3.png" alt="logo" class="logo-image img-fluid">
          <img src="site-images-src/logo4.png" alt="logo" class="logo-image img-fluid">
          <img src="site-images-src/logo5.png" alt="logo" class="logo-image img-fluid">
        </div>
      </div>
    </div>
  </section> -->
  
    <!-- <section class="newsletter bg-light" style="background: url(site-images-src/pattern-bg.png) no-repeat;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 py-5 my-5">
          <div class="subscribe-header text-center pb-3">
            <h3 class="section-title text-uppercase">Sign Up for our newsletter</h3>
          </div>
          <form id="form" class="d-flex flex-wrap gap-2">
            <input type="text" name="email" placeholder="Your Email Addresss" class="form-control form-control-lg">
            <button class="btn btn-dark btn-lg text-uppercase w-100">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </section> -->
  
    <!-- <section class="instagram position-relative">
    <div class="d-flex justify-content-center w-100 position-absolute bottom-0 z-1">
      <a href="https://www.instagram.com/templatesjungle/" class="btn btn-dark px-5">Follow us on Instagram</a>
    </div>
    <div class="row g-0">
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/templatesjungle/" target="_blank">
            <img src="site-images-src/insta-item1.jpg" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/templatesjungle/" target="_blank">
            <img src="site-images-src/insta-item2.jpg" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/templatesjungle/" target="_blank">
            <img src="site-images-src/insta-item3.jpg" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/templatesjungle/" target="_blank">
            <img src="site-images-src/insta-item4.jpg" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/templatesjungle/" target="_blank">
            <img src="site-images-src/insta-item5.jpg" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="insta-item">
          <a href="https://www.instagram.com/templatesjungle/" target="_blank">
            <img src="site-images-src/insta-item6.jpg" alt="instagram" class="insta-image img-fluid">
          </a>
        </div>
      </div>
    </div>
  </section> -->
  
    <footer id="footer" class="mt-5">
      <div class="container">
        <div class="row d-flex flex-wrap justify-content-between py-5">
          <div class="col-md-3 col-sm-6">
            <div class="footer-menu footer-menu-001">
              <div class="footer-intro mb-4">
                <a href="index.html">
                  <h4>Lindas Mulheres</h4>
                </a>
              </div>
              <p>Explore nossa seleção de mulheres encantadoras e sofisticadas. Cada foto celebra o charme e a graça do
                feminino.
                Admire a beleza em sua forma mais pura. As mulheres mais lindas da internet!</p>
              <div class="social-links">
                <!-- <ul class="list-unstyled d-flex flex-wrap gap-3">
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#facebook"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#twitter"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#youtube"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#pinterest"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                      <use xlink:href="#instagram"></use>
                    </svg>
                  </a>
                </li>
              </ul> -->
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- <div class="footer-menu footer-menu-002">
              <h5 class="widget-title text-uppercase mb-4">Links rápidos</h5>
              <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                <li class="menu-item">
                  <a href="index.html" class="item-anchor">Home</a>
                </li>
                <li class="menu-item">
                  <a href="index.html" class="item-anchor">About</a>
                </li>
                <li class="menu-item">
                  <a href="blog.html" class="item-anchor">Services</a>
                </li>
                <li class="menu-item">
                  <a href="styles.html" class="item-anchor">Single item</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="item-anchor">Contact</a>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- <div class="footer-menu footer-menu-003">
            <h5 class="widget-title text-uppercase mb-4">Help & Info</h5>
            <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">Track Your Order</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Returns + Exchanges</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Shipping + Delivery</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contact Us</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Find us easy</a>
              </li>
              <li class="menu-item">
                <a href="index.html" class="item-anchor">Faqs</a>
              </li>
            </ul>
          </div> -->
          </div>
          <div class="col-md-3 col-sm-6">
            <!-- <div class="footer-menu footer-menu-004 border-animation-left">
            <h5 class="widget-title text-uppercase mb-4">Contact Us</h5>
            <p>Do you have any questions or suggestions? <a href="mailto:contact@yourcompany.com"
                class="item-anchor">contact@yourcompany.com</a></p>
            <p>Do you need support? Give us a call. <a href="tel:+43 720 11 52 78" class="item-anchor">+43 720 11 52
                78</a>
            </p>
          </div> -->
          </div>
        </div>
      </div>
      <div class="border-top py-4">
        <div class="container">
          <div class="row">
            <!-- <div class="col-md-6 d-flex flex-wrap">
            <div class="shipping">
              <span>We ship with:</span>
              <img src="site-site-images-src-src/arct-icon.png" alt="icon">
              <img src="site-site-images-src-src/dhl-logo.png" alt="icon">
            </div>
            <div class="payment-option">
              <span>Payment Option:</span>
              <img src="site-site-images-src-src/visa-card.png" alt="card">
              <img src="site-site-images-src-src/paypal-card.png" alt="card">
              <img src="site-site-images-src-src/master-card.png" alt="card">
            </div>
          </div> -->
            <div class="col-md-12 text-center">
              <p>© Copyright 2025 Lindas Mulheres. All rights reserved. Design by <a href="https://lindasmulheres.site"
                  target="_blank">Lindas Mulheres</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>    
  </body>
